---
---

@import "{{ site.theme }}";

figure {
  display: inline-block;
/* 
  border: thin silver solid;
*/
  width: 300px; 
  text-align: left; 
  font-style: italic;
  font-size: smaller;
  text-indent: 0;
  margin: 0.5em;
  padding: 0.5em;
}
figure img {
    vertical-align: top;
    padding: 0.5em;
    width: 95%;
}
figure figcaption {
    text-align: left;
    padding: 0.5em;
    width: 95%;
}

