---
---

@import "{{ site.theme }}";

figure {
  display: inline-block;
  width: 30%;
  text-align: center;
  font-style: italic;
  font-size: smaller;
  text-indent: 0;
  border: thin red solid;
  margin: 0.5em;
  padding: 0.5em;
}
figure img {
    vertical-align: top;
    width: 300px;
}
figure figcaption {
    text-align: left;
    padding: 0.5em;
    border: thin silver solid;
}

